/* src/styles/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --basewhite: rgba(255, 255, 255, 1);
    --grey-500: rgba(153, 153, 153, 1);
    --grey-600: rgba(122, 122, 122, 1);
    --grey-800: rgba(61, 61, 61, 1);
    --grey-900: rgba(31, 31, 31, 1);
}

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 47.4% 11.2%;
        /* Copy all your other CSS variables here */
        --radius: 0.5rem;
    }

    .dark {
        --background: 224 71% 4%;
        --foreground: 213 31% 91%;
        /* Copy all your dark mode CSS variables here */
    }
}

@layer base {
    * {
        border-color: hsl(var(--border));
    }

    body {
        background-color: hsl(var(--background));
        color: hsl(var(--foreground));
        font-feature-settings: "rlig" 1, "calt" 1;
    }
}